

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
 
.content{
    flex: 1 1 auto;
}

.container{
    margin: 0 auto;
    max-width: var(--contentWigth);
    padding: 10px 50px;
}