.nav{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex; 
}
.nav a {
    color: white;
    display: block;
    padding: 10px;
}

.nav .active{
    color: #FFCA42;
}
.button{
    background: #FFCA42;
    padding: 0 30px;
}
